@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}



.navbar {
    background-color: #ffdada; 
    padding: 8px; 
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto;
}

.logo {
    font-size: 3rem;
    font-weight: 700;
    margin-left: -100px;
    text-decoration: none;
    color: #e08b8b; 
    font-family: 'Pixelify Sans';
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px; 
}

.nav-links li a {
    text-decoration: none;
    color: #e08b8b;
    font-size: 2rem;
    font-family:  'VT323', monospace;
    font-weight: 500;
    transition: color 0.3s ease-in-out;
}

.nav-links li a:hover {
    color: #ffffff; 
}


.top-section {
    position: relative; 
    z-index: 1;
    background-color: #ffcaca;
    width: 100%;
    padding: 25px; 
    text-align: left;
}

.top-section h1 {
    color: #e69e9e;     
    font-size: 4rem;      
    margin-bottom: 20px;   
    font-weight: 1;       
    font-family:  'VT323', monospace;
     margin-right: 25vw;
     padding: 0 10.5%;
}

.pixel {
    width: 50px;
    object-fit: cover;
    position: absolute;
    top: -46rem;
    right: 72rem;
    z-index: 6;
}


.top-section p {
    color: #ffffff;       
    font-size: 2rem;      
    text-align: left;   
    margin-bottom: 10px;   
    margin-right: 25vw;
    font-weight: 10;   
    font-family:  'VT323', monospace;
    padding: 0 10.5%;
}

.Quiz-Display {
    flex: 1;
}


.carousel {
    margin-top: 0px;
     padding-top: 300px;
     position: relative; 
    z-index: 5;
}

.item .info-box {
    position: absolute;
    margin-top: 220px;
    left: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 500px;
    height: 500px;
    display: flex;
    align-items: center;
    z-index: 1;
    overflow: hidden;
}

.item.active .info-box {
    z-index: 2;
}

.info-box .info-slider {
    height: inherit;
    margin-top: 60px;
    transition: .5s ease;
    z-index: 8;
}

.info-slider .info-item {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    transform: translateY(calc(var(--i) * 100%));
}

.info-item h2 {
    font-size: 60px;
    font-family: 'Pixelify Sans';
    text-shadow:
    2px 2px 2px #000000,
    -2px 2px 2px #000000,
    -2px -2px 2px #000000,
    2px -2px 2px #000000;
    color: #ffffff;
    line-height: 1;
}

.info-item p {
    font-size: 25px;
    margin: 15px 0 20px;
    font-family:  'VT323', monospace;
    text-shadow:
    2px 2px 2px #000000,
    -2px 2px 2px #000000,
    -2px -2px 2px #000000,
    2px -2px 2px #000000;
    font-weight: 400;
}

.nav-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 2.1rem;
    background: #ffcaca;
    border: 2px solid #e69e9e;
    border-radius: 40px;
    font-size: 22px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
    font-family: 'Pixelify Sans';
}

.nav-button:hover {
    cursor: pointer;
    background-color: #e69e9e;
    color: #fbfbfb;
    transform: none;
    transition: transform 150ms;
    transition: background-color 0.3s ease-in-out;
}

.info-item .btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 180px;
    height: 5rem;
    background: #ffcaca;
    border: 2px solid #e69e9e;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    font-size: 22px;
    color: #000000;
    text-decoration: none;
    font-weight: 600;
    font-size: 22px;
    font-family: 'Pixelify Sans';
}

.btn:hover {
    cursor: pointer;
    background-color: #e69e9e;
    color: #fbfbfb;
    transform: none;
    transition: transform 150ms;
    transition: color 0.3s ease-in-out;
}

.item .img-box {
    position: absolute;
    margin-top: 300px;
    left: 35%;
    top: 50%;
    transform: translateY(-50%);
    width: 800px;
    height: 700px;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.img-box .img-slider {
    width: inherit;
    height: inherit;
    transition: .5s ease;
    z-index: 8;
}

.img-slider .img-item {
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(calc(var(--i) * 100%));
}

.img-item img {
    pointer-events: none;
    filter: drop-shadow(0 0 10px rgba(0, 0, 0, .2));
    transform: scale(0);
    transition: .5s ease;
}

.item.active .img-item img {
    transform: scale(1);
}

.thumb {
    position: absolute;
    margin-top: 300px;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    z-index: 8;
}

.thumb li {
    width: 95px;
    height: 95px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    margin: 20px 0;
    overflow: hidden;
    z-index: 8;
}

.thumb li.selected {
    border: 3px solid #fff;
    z-index: 8;
}

.thumb li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 8;
}

.item .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;  
    height: 100vh;  
    background-size: cover;
    background-position: center;
    transition: .2s;
    opacity: -1;
}

.item.active .bg {
    opacity: 100;
}

.item .bg::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 500px;
    background: rgba(255, 255, 255, .8);
    border-radius: 50%;
    filter: blur(200px);
}

.item:nth-child(1) .bg {
    background-image: url("./images/img1.png");
}

.item:nth-child(2) .bg {
    background-image: url("./images/img2.jpg");
}

.item:nth-child(3) .bg {
    background-image: url("./images/img3.png");
}
.item:nth-child(4) .bg {
    background-image: url("./images/img5.jpeg");
}

.item:nth-child(5) .bg {
    background-image: url("./images/img4.jpg");
}


@media screen and (max-width: 600px) {

    .nav-links {
        display: flex;
        flex-direction: column; 
        gap: 2px;
        
    }

    .pixel {
        display: none
    }
    .navbar {
        background-color: #ffdada; 
        padding: 8px; 
        position: sticky;
        top: 0;
        z-index: 10;
        width: 100%;
    }
    .nav-button {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 110px;
        height: 2rem;
        margin-left: -12px;
        background: #ffcaca;
        border: 2px solid #e69e9e;
        border-radius: 40px;
        font-size: 22px;
        color: #000000;
        text-decoration: none;
        font-weight: 600;
        font-size: 22px;
        font-family: 'Pixelify Sans';
    }
    .header-container {
        padding: 0 15px;
    }

    .logo {
        font-size: 2rem; 
        margin-left: 0px;
    }
 
    .top-section h1 {
        color: #e69e9e;    
        font-size: 2rem;   
        text-align: left;    
        margin-top: 0px;
        margin-bottom: 20px;  
        margin-right: 5px; 
        font-weight: 10;     
        font-family:  'VT323', monospace;
    }
    .top-section {
        position: relative; 
        z-index: 1;
        background-color: #ffcaca;
        width: 100%;
        padding: 25px; 
        text-align: left;
    }

    .top-section p {
        color: #ffffff;       
        font-size: 1.4rem;    
        text-align: left;   
        margin-bottom: 0px;   
        margin-right: 5px;
        font-weight: 10; 
        font-family:  'VT323', monospace;
    }
    .carousel {
        height: 100vh;
        position: relative;
        overflow: hidden;
    }
    
    .item .info-box {
        position: absolute;
        margin-top: 10px;
        left: 5%;
        top: 20%;
        transform: translateY(-50%);
        width: 60vw;
        height: 90vh;
        display: flex;
        align-items: center;
        z-index: 1;
        overflow: hidden;
    }
    
    .item.active .info-box {
        z-index: 2;
    }
    
    .info-box .info-slider {
        height: inherit;
        transition: .5s ease;
    }
    
    .info-slider .info-item {
        height: inherit;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: #fff;
        transform: translateY(calc(var(--i) * 100%));
    }
    
    .info-item h2 {
        font-size: 35px;
        font-family: 'Pixelify Sans';
        text-shadow:
        2px 2px 2px #000000,
        -2px 2px 2px #000000,
        -2px -2px 2px #000000,
        2px -2px 2px #000000;
        color: #ffffff;
        line-height: 1;
    }
    
    .info-item p {
        font-size: 25px;
        margin: 15px 0 20px;
        font-family:  'VT323', monospace;
        text-shadow:
        2px 2px 2px #000000,
        -1px 1px 1px #000000,
        -1px -1px 1px #000000,
        1px -1px 1px #000000;
        font-weight: 400;
    }

   

    .info-item .btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 180px;
        height: 2.5rem;
        background: #ffcaca;
        border: 2px solid #e69e9e;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        font-size: 22px;
        color: #000000;
        text-decoration: none;
        font-weight: 600;
        font-size: 22px;
        font-family: 'Pixelify Sans';
    }
    
    .btn:hover {
        cursor: pointer;
        background-color: #e69e9e;
        color: #fbfbfb;
        transform: none;
        transition: transform 150ms;
    }
    
    .item .img-box {
        position: absolute;
        margin-top: 0px;
        left: 5%;
        top: 60%;
        transform: translateY(-50%);
        width: 500px;
        height: 700px;
        display: flex;
        align-items: center;
        overflow: hidden;
    }
    
    .img-box .img-slider {
        width: inherit;
        height: inherit;
        transition: .5s ease;
    }
    
    .img-slider .img-item {
        width: inherit;
        height: inherit;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateX(calc(var(--i) * 100%));
        overflow: hidden;
    }
    
    .img-item img {
        pointer-events: none;
        filter: drop-shadow(0 0 10px rgba(0, 0, 0, .2));
        transform: scale(0);
        transition: .5s ease;
        width: 90vw;
        margin-right: 50vw;
    }
    
    .item.active .img-item img {
        transform: scale(1);
    }
    
    .thumb {
        position: absolute;
        margin-top: 0px;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        list-style: none;
    }
    
    .thumb li {
        width: 95px;
        height: 95px;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0, 0, 0, .1);
        cursor: pointer;
        margin: 20px 0;
        overflow: hidden;
    }
    
    .thumb li.selected {
        border: 3px solid #fff;
    }
    
    .thumb li img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .item .bg {
        position: absolute;
        
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: -1;
        transition: .2s;
    }
    
    .item.active .bg {
        opacity: 100;
    }
    
    .item .bg::before {
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 500px;
        height: 500px;
        background: rgba(255, 255, 255, .8);
        border-radius: 50%;
        filter: blur(200px);
    }
    
    .item:nth-child(1) .bg {
        background-image: url("./images/img1.png");
    }
    
    .item:nth-child(2) .bg {
        background-image: url("./images/img2.jpg");
    }
    
    .item:nth-child(3) .bg {
        background-image: url("./images/img3.png");
    }
    .item:nth-child(4) .bg {
        background-image: url("./images/img5.jpeg");
    }
    
    .item:nth-child(5) .bg {
        background-image: url("./images/img4.jpg");
    }







}